In [1]:
import numpy as np
import pandas as pd

In [14]:
spreadsheet = pd.read_csv('/Users/danny/Downloads/UNdata_Export_20230714_054021753.csv')

In [19]:
spreadsheet[(spreadsheet.get('Country or Area') == 'Albania') & (spreadsheet.get('Age') == '15 +')]

,Country or Area,Year,Area,Sex,Age,Number of children living,Record Type,Reliability,Source Year,Value,Value Footnotes
9,Albania,2011,Total,Female,15 +,Total,Census - de jure - complete tabulation,"Final figure, complete",2013.0,799159.0,NaN
10,Albania,2011,Total,Female,15 +,0,Census - de jure - complete tabulation,"Final figure, complete",2013.0,1709.0,NaN
11,Albania,2011,Total,Female,15 +,1,Census - de jure - complete tabulation,"Final figure, complete",2013.0,98612.0,NaN
12,Albania,2011,Total,Female,15 +,2,Census - de jure - complete tabulation,"Final figure, complete",2013.0,279988.0,NaN
13,Albania,2011,Total,Female,15 +,3,Census - de jure - complete tabulation,"Final figure, complete",2013.0,195546.0,NaN
14,Albania,2011,Total,Female,15 +,4,Census - de jure - complete tabulation,"Final figure, complete",2013.0,98348.0,NaN
15,Albania,2011,Total,Female,15 +,5,Census - de jure - complete tabulation,"Final figure, complete",2013.0,52065.0,NaN
16,Albania,2011,Total,Female,15 +,6 +,Census - de jure - complete tabulation,"Final figure, complete",2013.0,72891.0,NaN
17,Albania,2011,Total,Female,15 +,Aggregate number of children living,Census - de jure - complete tabulation,"Final figure, complete",2013.0,2406268.0,NaN
153,Albania,2011,Urban,Female,15 +,Total,Census - de jure - complete tabulation,"Final figure, complete",2013.0,433089.0,NaN
154,Albania,2011,Urban,Female,15 +,0,Census - de jure - complete tabulation,"Final figure, complete",2013.0,873.0,NaN
155,Albania,2011,Urban,Female,15 +,1,Census - de jure - complete tabulation,"Final figure, complete",2013.0,62309.0,NaN
156,Albania,2011,Urban,Female,15 +,2,Census - de jure - complete tabulation,"Final figure, complete",2013.0,179544.0,NaN
157,Albania,2011,Urban,Female,15 +,3,Census - de jure - complete tabulation,"Final figure, complete",2013.0,101257.0,NaN
158,Albania,2011,Urban,Female,15 +,4,Census - de jure - complete tabulation,"Final figure, complete",2013.0,42157.0,NaN
159,Albania,2011,Urban,Female,15 +,5,Census - de jure - complete tabulation,"Final figure, complete",2013.0,19992.0,NaN
160,Albania,2011,Urban,Female,15 +,6 +,Census - de jure - complete tabulation,"Final figure, complete",2013.0,26957.0,NaN
161,Albania,2011,Urban,Female,15 +,Aggregate number of children living,Census - de jure - complete tabulation,"Final figure, complete",2013.0,1180452.0,NaN
297,Albania,2011,Rural,Female,15 +,Total,Census - de jure - complete tabulation,"Final figure, complete",2013.0,366070.0,NaN
298,Albania,2011,Rural,Female,15 +,0,Census - de jure - complete tabulation,"Final figure, complete",2013.0,836.0,NaN
299,Albania,2011,Rural,Female,15 +,1,Census - de jure - complete tabulation,"Final figure, complete",2013.0,36303.0,NaN
300,Albania,2011,Rural,Female,15 +,2,Census - de jure - complete tabulation,"Final figure, complete",2013.0,100444.0,NaN
301,Albania,2011,Rural,Female,15 +,3,Census - de jure - complete tabulation,"Final figure, complete",2013.0,94289.0,NaN
302,Albania,2011,Rural,Female,15 +,4,Census - de jure - complete tabulation,"Final figure, complete",2013.0,56191.0,NaN
303,Albania,2011,Rural,Female,15 +,5,Census - de jure - complete tabulation,"Final figure, complete",2013.0,32073.0,NaN
304,Albania,2011,Rural,Female,15 +,6 +,Census - de jure - complete tabulation,"Final figure, complete",2013.0,45934.0,NaN
305,Albania,2011,Rural,Female,15 +,Aggregate number of children living,Census - de jure - complete tabulation,"Final figure, complete",2013.0,1225816.0,NaN
440,Albania,2001,Total,Female,15 +,Total,Census - de facto - complete tabulation,"Final figure, complete",2009.0,793584.0,NaN
441,Albania,2001,Total,Female,15 +,0,Census - de facto - complete tabulation,"Final figure, complete",2009.0,1697.0,1
442,Albania,2001,Total,Female,15 +,1,Census - de facto - complete tabulation,"Final figure, complete",2009.0,100758.0,NaN
443,Albania,2001,Total,Female,15 +,2,Census - de facto - complete tabulation,"Final figure, complete",2009.0,246463.0,NaN
444,Albania,2001,Total,Female,15 +,3,Census - de facto - complete tabulation,"Final figure, complete",2009.0,176455.0,NaN
445,Albania,2001,Total,Female,15 +,4,Census - de facto - complete tabulation,"Final figure, complete",2009.0,104234.0,NaN
446,Albania,2001,Total,Female,15 +,5,Census - de facto - complete tabulation,"Final figure, complete",2009.0,64413.0,NaN
447,Albania,2001,Total,Female,15 +,6 +,Census - de facto - complete tabulation,"Final figure, complete",2009.0,99564.0,NaN
592,Albania,2001,Urban,Female,15 +,Total,Census - de facto - complete tabulation,"Final figure, complete",2009.0,357933.0,NaN
593,Albania,2001,Urban,Female,15 +,0,Census - de facto - complete tabulation,"Final figure, complete",2009.0,765.0,1
594,Albania,2001,Urban,Female,15 +,1,Census - de facto - complete tabulation,"Final figure, complete",2009.0,53066.0,NaN
595,Albania,2001,Urban,Female,15 +,2,Census - de facto - complete tabulation,"Final figure, complete",2009.0,144797.0,NaN
596,Albania,2001,Urban,Female,15 +,3,Census - de facto - complete tabulation,"Final figure, complete",2009.0,79312.0,NaN
597,Albania,2001,Urban,Female,15 +,4,Census - de facto - complete tabulation,"Final figure, complete",2009.0,35498.0,NaN
598,Albania,2001,Urban,Female,15 +,5,Census - de facto - complete tabulation,"Final figure, complete",2009.0,18525.0,NaN
599,Albania,2001,Urban,Female,15 +,6 +,Census - de facto - complete tabulation,"Final figure, complete",2009.0,25970.0,NaN
744,Albania,2001,Rural,Female,15 +,Total,Census - de facto - complete tabulation,"Final figure, complete",2009.0,435651.0,NaN
745,Albania,2001,Rural,Female,15 +,0,Census - de facto - complete tabulation,"Final figure, complete",2009.0,932.0,1
746,Albania,2001,Rural,Female,15 +,1,Census - de facto - complete tabulation,"Final figure, complete",2009.0,47692.0,NaN
747,Albania,2001,Rural,Female,15 +,2,Census - de facto - complete tabulation,"Final figure, complete",2009.0,101666.0,NaN
748,Albania,2001,Rural,Female,15 +,3,Census - de facto - complete tabulation,"Final figure, complete",2009.0,97143.0,NaN
749,Albania,2001,Rural,Female,15 +,4,Census - de facto - complete tabulation,"Final figure, complete",2009.0,68736.0,NaN
750,Albania,2001,Rural,Female,15 +,5,Census - de facto - complete tabulation,"Final figure, complete",2009.0,45888.0,NaN
751,Albania,2001,Rural,Female,15 +,6 +,Census - de facto - complete tabulation,"Final figure, complete",2009.0,73594.0,NaN

In [12]:
spreadsheet = spreadsheet.groupby('Country or Area').count()
spreadsheet

,Year,Area,Sex,Age,Number of children living,Record Type,Reliability,Source Year,Value,Value Footnotes
Country or Area,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0
13,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
Uruguay,1506,1506,1506,1506,1506,1506,1506,1506,1506,960
Venezuela (Bolivarian Republic of),1044,1044,1044,1044,1044,1044,1044,1044,1044,132
Viet Nam,600,600,600,600,600,600,600,600,600,384
Zambia,16,16,16,16,16,16,16,16,16,0
footnoteSeqID,1,0,0,0,0,0,0,0,0,0