In [1]:
import numpy as np
import pandas as pd

In [2]:
LFP_by_sex = pd.read_csv(r'C:\Users\danny\OneDrive\Files\GitHub\research-lab-task2\Views\Labor Force Participation by Sex.csv')
LFP_by_sex_household = pd.read_csv(r'C:\Users\danny\OneDrive\Files\GitHub\research-lab-task2\Views\Labor force participation, by sex, of households with kids 6 and under.csv')
childrenBorn = pd.read_csv(r'C:\Users\danny\OneDrive\Files\GitHub\research-lab-task2\Views\Number of Children Ever Born per Woman.csv')
childrenLiving = pd.read_csv(r'C:\Users\danny\OneDrive\Files\GitHub\research-lab-task2\Views\Number of children living per woman.csv')

In [3]:
LFPcombine = LFP_by_sex.merge(LFP_by_sex_household, left_on=['Country or Area', 'Year'], right_on= ['Country or Area', 'Year'])
LFPcombine

,Country or Area,Year,Male Labor force participation (No kids 6 and under),Female Labor force participation (No kids 6 and under),Male Household Labor force participation,Female Household Labor force participation
0,Argentina,2010,76.058439,52.412778,98.900,55.000
1,Armenia,2011,66.249287,50.588181,92.540,57.458
2,Australia,2016,52.220629,45.900052,93.536,69.570
3,Australia,2006,52.869547,44.024950,93.947,62.529
4,Austria,2011,55.419867,46.487908,96.900,72.900
5,Azerbaijan,2009,57.444050,45.031343,92.471,72.102
6,Bangladesh,2011,55.406809,56.459653,98.303,36.412
7,Belarus,2019,75.445021,66.152694,99.171,75.486
8,Belarus,2009,56.809272,47.214546,97.293,73.064
9,Belgium,2011,48.258961,39.779940,95.100,75.700
10,Benin,2013,49.128823,32.052652,99.900,79.587
11,Cambodia,2008,52.870234,52.449711,96.881,67.608
12,Canada,2016,57.341921,51.123024,94.716,74.760
13,Canada,2011,58.086346,51.539409,94.780,74.761
14,Canada,2006,58.857080,51.056629,95.087,71.906
15,China,2010,62.795089,52.734066,99.887,74.958
16,Cuba,2012,68.219651,40.675927,98.629,50.830
17,Czechia,2011,53.819275,43.751157,98.400,40.600
18,Equatorial Guinea,2015,33.253004,34.266996,80.042,66.972
19,Finland,2021,49.164133,46.150354,94.258,80.736
20,Finland,2010,49.871514,46.699356,94.592,78.246
21,France,2015,50.064202,44.246702,95.900,73.300
22,Germany,2011,58.130459,48.416184,96.900,63.400
23,Greece,2011,51.065060,34.074379,97.800,66.400
24,Hungary,2011,50.989206,40.338090,94.400,32.700
25,Ireland,2011,54.070865,43.330254,92.900,67.400
26,Ireland,2006,57.226268,42.273126,95.400,62.000
27,Italy,2011,51.657624,36.287679,95.962,60.856
28,Kenya,2019,55.472225,52.741973,98.688,82.663
29,Latvia,2011,53.247113,46.407310,96.800,71.000
30,Lithuania,2021,54.750817,50.626048,97.600,83.200
31,Lithuania,2011,62.689576,51.652023,98.400,85.900
32,Luxembourg,2011,47.410449,38.804364,96.700,74.200
33,Malawi,2018,43.253374,42.886475,86.388,71.780

In [4]:
childrenCombine = childrenBorn.merge(childrenLiving, left_on=['Country or Area', 'Year'], right_on= ['Country or Area', 'Year'])
childrenCombine

,Country or Area,Year,Number of Children Ever Born per Woman,Number of Children Living per Woman
0,Albania,2001,1.847217,2.682992
1,Albania,2011,1.814445,2.614659
2,Armenia,2001,1.716220,1.874091
3,Armenia,2011,1.779769,2.381453
4,Bahrain,2001,2.891110,2.848124
5,Belarus,1999,1.642106,1.566349
6,Bolivia (Plurinational State of),2012,2.981489,3.231458
7,Cambodia,1998,1.337848,2.236453
8,Cambodia,2008,1.333097,1.981610
9,Chile,2002,2.195761,2.726980
10,China,2000,1.273846,1.291833
11,Cook Islands,1996,3.807944,3.748947
12,Cook Islands,2011,2.544754,2.478863
13,Dominican Republic,2010,2.436233,3.051448
14,Georgia,2002,2.270886,2.107154
15,Kazakhstan,1999,2.048080,1.852738
16,Kiribati,2010,3.833154,2.068826
17,Kyrgyzstan,2009,1.974631,1.959428
18,Lao People's Democratic Republic,2015,1.689825,1.621276
19,Malawi,1998,2.854432,2.544348
20,Maldives,2014,3.616582,3.319651
21,Mali,1998,3.420177,2.555507
22,Mexico,2000,2.066893,3.011878
23,Republic of Korea,2015,2.192390,2.142590
24,Republic of Moldova,2004,1.706088,1.628357
25,Saint Helena ex. dep.,1998,2.066882,2.013263
26,Sri Lanka,2001,2.923589,2.886181
27,Sri Lanka,2012,2.625666,2.487372
28,State of Palestine,1997,3.376104,3.437507
29,Tajikistan,2010,2.363717,2.327015
30,Thailand,2000,2.361388,2.298104
31,Timor-Leste,2004,2.971349,2.350451
32,Tokelau,2011,4.398467,4.115830
33,Türkiye,2000,3.022851,2.709774
34,Türkiye,2011,2.288868,2.140847
35,Ukraine,2001,1.517800,1.425439
36,Uruguay,1996,1.763348,1.712534
37,Venezuela (Bolivarian Republic of),2001,1.912032,2.721774
38,Viet Nam,1999,1.731114,1.664429

In [5]:
combine = LFPcombine.merge(childrenCombine, left_on=['Country or Area', 'Year'], right_on= ['Country or Area', 'Year'])
combine

,Country or Area,Year,Male Labor force participation (No kids 6 and under),Female Labor force participation (No kids 6 and under),Male Household Labor force participation,Female Household Labor force participation,Number of Children Ever Born per Woman,Number of Children Living per Woman
0,Armenia,2011,66.249287,50.588181,92.540,57.458,1.779769,2.381453
1,Cambodia,2008,52.870234,52.449711,96.881,67.608,1.333097,1.981610